appdirs==1.4.4
beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
distlib==0.3.0
dj-database-url==0.5.0
Django==1.11
django-crispy-forms==1.7.2
django-filter==2.1.0
django-phonenumber-field==0.2a1
djangorestframework==3.11.0
filelock==3.0.12
future==0.17.1
gunicorn==19.9.0
httpie==2.1.0
idna==2.7
importlib-metadata==1.6.0
importlib-resources==1.5.0
Markdown==3.1.1
Naked==0.1.31
nltk==3.4
numpy==1.16.2
phonenumbers==8.12.52
Pillow==6.1.0
psycopg2==2.8.3
pycryptodome==3.6.4
Pygments==2.6.1
PyMySQL==0.8.1
pytz==2020.1
PyYAML==5.1.1
reportlab==3.5.11
requests==2.23.0
schedule==0.5.0
scikit-learn==0.20.2
scipy==1.2.1
selenium==3.12.0
shellescape==3.4.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
soupsieve==1.8
sqlparse==0.3.0
ulid-py==0.0.7
urllib3==1.23
virtualenv==20.0.20
yapf==0.31.0
zipp==3.1.0

